{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ title }}</h1>

    <div>
        <a href="{{ path('skoleni_di') }}">DI action</a> | <a href="{{ path('skoleni_service') }}">Service</a>
    </div>
{% endblock %}
